/* navbar align centre */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-menu li {
    text-align: center;
}
/* navbar align centre END*/


  .navbar-toggle .icon-bar {
      background-color:  black;
    } /* 3 bar icon colour - required because not using navbar-default or navbar-inverse colour scheme*/

 /*Change 3 lines into Cross*/
  /*Spaces icon bars out*/
  .icon-bar:nth-of-type(2) {
        top: 1px;
    }

  .icon-bar:nth-of-type(3) {
        top: 2px;
    }
  /*Spaces icon bars out END*/

  .icon-bar {
        position: relative;
        transition: all 250ms ease-in-out; /* Changes time of transition*/
    }

  .navbar-toggle.active .icon-bar:nth-of-type(1) { /*1st nth of type means 1st of 3 ".icon-bar" classes*/
        top: 6px;
        transform: rotate(315deg);
    }

  .navbar-toggle.active :nth-of-type(2) {
        background-color: transparent !important; /*Important needed here to make sure 2nd bar disappears on transition*/
    }

  .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-315deg);
    }
/*Change 3 lines into Cross End*/